* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ========= COMMON========= */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100%-48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: flex;
  min-width: 118px;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  border-radius: 999px;
  background: #171100;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: Poppins, sans-serif;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.heading {
  width: 470px;
  color: #171100;
  font-family: var(--font-heading);
}
.heading.lv1 {
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}
.heading.lv2 {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
/* ========= HEADER========= */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 10;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.navbar .list {
  display: flex;
}

.navbar .list a {
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.navbar .list a:hover,
.navbar .active a {
  position: relative;
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.navbar {
  margin-left: auto;
}

.navbar .active a::after {
  content: "";
  position: absolute;
  border-radius: 1px;
  background: #171100;
  width: 12px;
  height: 2px;
  left: 21px;
  bottom: 6px;
}
.header .sign-up-btn {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* ========= HERO ========= */
.hero {
  background: #fffcf4;
}
.hero .body {
  display: flex;
  align-items: center;
  padding: 56px 0 65px;
}
.hero .body .block-media {
  position: relative;
  width: 49%;
}

/* Hero left */
.hero .block-media .hero-img {
  display: block;
  width: 470px;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
}
.hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  height: 244px;
  border-radius: 12px;
  background: #fff;
  padding: 24px 24px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 14px;
}
.hero-summary .item .icon {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff9e8;
}
.hero-summary .item:nth-of-type(2) .icon {
  background-color: #fcefff;
}
.hero-summary .item:nth-of-type(3) .icon {
  background-color: #ebeaff;
}

.hero-summary .item .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
}

.hero-summary .item .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}
/* Hero right */
.block-content {
  margin-left: 130px;
}

.block-content .desc {
  width: 470px;
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
}

.block-content .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.block-content .cta-group .btn {
  width: 180px;
  height: 64px;
  margin-right: 82px;
  background: var(--primary-color);
  color: #fff;
}
.block-content .cta-group span {
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  color: #171100;
  cursor: pointer;
}

.block-content .watch-btn {
  position: relative;
  align-items: center;
  border: none;
  background: transparent;
}
.block-content .watch-btn img {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  cursor: pointer;
  top: -26px;
  left: -62px;
}
.block-content .desc.stats {
  margin: 0 0 0 -28px;
}
.block-content .stats strong {
  margin: 12px 8px 0 28px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.22; /* 122.727% */
}

/* ========= POPULAR ========= */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular .popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-top .info .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
}
.popular-top .controls {
  display: flex;
  gap: 18px;
}
.popular-top .controls .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
}
.popular-top .controls .control-btn:hover {
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
}
/* Courses list */
.course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
.course-item:hover {
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}
.course-item .thumb {
  margin: -1px;
  width: calc(100% + 2px);
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.course-item .info {
  padding: 16px 22px 22px 22px;
}
.course-item .foot,
.course-item .info .rating,
.course-item .info .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-item .info .title a {
  padding-right: 8px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}
.course-item .rating .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
}
.course-item .desc {
  width: 326px;
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
}
.course-item .foot {
  margin-top: 12px;
}
.course-item .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}
.course-item .foot .book-btn {
  border-radius: 25px;
  border: transparent;
  font-size: 14px;
}
.course-item .foot .book-btn:hover {
  background: #ffb900;
}

/* ========= FEEDBACK ========= */
.feedback {
  margin-top: 135px;
  background: #2e2100;
}
.feedback-item {
  display: flex;
  justify-content: space-between;
  padding: 96px 0;
}
/* Info */
.feedback-item .info .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.feedback-item .info .title {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.41; /* 141.667% */
}
.feedback-item .info .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}
.feedback-item .info .dots {
  margin-top: 28px;
}
/* Content */
.feedback-item .content {
  width: 64%;
}
.feedback-item .content blockquote {
  width: 740px;
  margin-left: 30px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.53; /* 153.846% */
}

/* ========= FEATURES ========= */
/* features 1st */
.features {
  padding: 65px;
  margin-top: 135px;
}
.features .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features .images {
  display: flex;
  gap: 0 30px;
}
.features .images img {
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
}
.features .images img:first-child {
  margin-top: 34px;
}
.features .content {
  width: 40%;
}
.features .content .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.features .content .cta-btn {
  min-width: 137px;
  margin-top: 32px;
  border-radius: 26px;
  background: #ffb900;
  border-color: transparent;
}
/* features 2nd */
.features-2nd {
  margin-top: 70px;
}
.features-2nd .body {
  flex-direction: row-reverse;
}
.features-2nd .images img {
  width: 470px;
  height: 440px;
}
.features-2nd .content {
  width: 49%;
}
.features-2nd .content .heading {
  width: 570px;
}
